<!-- HEADER -->

<div class="gallery-header">
  <%= render "components/navbar" %>
    <h3 class="pages-title align-center text-shadow text-focus-in">PHOTO GALLERY</h3>
</div>

<!-- GALLERY -->

<div class="box description">
  <h4 data-aos="zoom-in">Design</h4>
  <p data-aos="zoom-in">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
</div>

<div class="grid">
  <div data-aos="zoom-in">
    <%= image_tag("gallery2.jpg") %>
  </div>
  <div data-aos="zoom-in">
    <%= image_tag("gallery2.jpg") %>
  </div>
  <div data-aos="zoom-in">
    <%= image_tag("gallery2.jpg") %>
  </div>
  <div data-aos="zoom-in">
    <%= image_tag("gallery2.jpg") %>
  </div>
  <div data-aos="zoom-in">
    <%= image_tag("gallery2.jpg") %>
  </div>
  <div data-aos="zoom-in">
    <%= image_tag("gallery2.jpg") %>
  </div>
  <div data-aos="zoom-in">
    <%= image_tag("gallery2.jpg") %>
  </div>
  <div data-aos="zoom-in">
    <%= image_tag("gallery2.jpg") %>
  </div>
  <div data-aos="zoom-in">
    <%= image_tag("gallery2.jpg") %>
  </div>
  <div data-aos="zoom-in">
    <%= image_tag("gallery2.jpg") %>
  </div>
  <div data-aos="zoom-in">
    <%= image_tag("gallery2.jpg") %>
  </div>
  <div data-aos="zoom-in">
    <%= image_tag("gallery2.jpg") %>
  </div>
  <div data-aos="zoom-in">
    <%= image_tag("gallery2.jpg") %>
  </div>
  <div data-aos="zoom-in">
    <%= image_tag("gallery2.jpg") %>
  </div>
  <div data-aos="zoom-in">
    <%= image_tag("gallery2.jpg") %>
  </div>
  <div data-aos="zoom-in">
    <%= image_tag("gallery2.jpg") %>
  </div>

</div>

<script>
const lightbox = document.createElement('div')
lightbox.id = 'lightbox'
document.body.appendChild(lightbox)

const images = document.querySelectorAll('img')
images.forEach(image => {
  image.addEventListener('click', e => {
    lightbox.classList.add('active')
    const img = document.createElement('img')
    img.src = image.src
    while (lightbox.firstChild) {
      lightbox.removeChild(lightbox.firstChild)
    }
    lightbox.appendChild(img)
  })
})

lightbox.addEventListener('click', e => {
  if (e.target !== e.currentTarget) return
  lightbox.classList.remove('active')
})
</script>

