<!-- HEADER -->

<div class="gallery-header">
  <%= render "components/navbar" %>
    <h3 class="pages-title align-center text-shadow text-focus-in">PHOTO GALLERY</h3>
</div>

<!-- GALLERY -->

<div class="row gimages ml-4 mr-4">

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

    <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

    <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

    <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>
  </div>

  <div class="col-6 col-md-6 col-lg-4">
    <%= image_tag("gallery2.jpg", class: "gimage mb-4") %>

</div>
