<!-- HEADER -->

<div class="gallery-header">
  <%= render "components/navbar" %>
    <h3 class="pages-title align-center text-shadow text-focus-in">GALLERY</h3>
</div>

<!-- GALLERY -->

<div class="box description">
  <h4 data-aos="zoom-in">Design</h4>
  <p data-aos="zoom-in">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
</div>

<div class="grid" data-aos="zoom-in">
  <%= image_tag("gallery.jpg") %>
  <%= image_tag("gallery2.jpg") %>
  <%= image_tag("gallery3.jpg") %>
  <%= image_tag("gallery4.jpg") %>
  <%= image_tag("gallery5.jpg") %>
  <%= image_tag("gallery6.jpg") %>
  <%= image_tag("gallery7.jpg") %>
  <%= image_tag("gallery8.jpg") %>
  <%= image_tag("gallery9.jpg") %>
  <%= image_tag("gallery10.jpg") %>
  <%= image_tag("about2.jpg") %>
  <%= image_tag("about.jpg") %>
</div>

<!-- JAVASCRIPT -->

<script>

// CREATE LIGHTBOX DIV WITH DARK BACKGROUND

const lightbox = document.createElement("div");
lightbox.id = "lightbox";

// APPEND LIGHTBOX TO THE BODY WITH DISPLAY NONE

document.body.appendChild(lightbox);

// SELECT ALL IMAGES

const images = document.querySelectorAll("img");

// WHEN CLICKING ON EACH IMAGE THE GALLERY IMG AND LIGHTBOX DIV GET ACTIVATED

images.forEach((image) => {
  image.addEventListener("click", (e) => {

    const selectedImage = e.currentTarget;
    selectedImage.classList.add("galleryImg-active");

    lightbox.classList.add("active");

    // CREATE IMAGE WITH SAME SRC

    const img = document.createElement("img");
    img.src = image.src;
    img.classList.add("lightboxImg-active");

    // MAKE SURE THAT ONLY 1 PIC GETS DISPLAYED

    while (lightbox.firstChild) {
      lightbox.removeChild(lightbox.firstChild);
    }

    // APPEND IMAGE

    lightbox.appendChild(img);

    // CREATE RIGHT ARROW AND APPEND IT

    const arrowRight = document.createElement("div");
    arrowRight.id = "arrowRight";
    arrowRight.innerHTML = "&#8594;";

    lightbox.appendChild(arrowRight);

    // CREATE LEFT ARROW AND APPEND IT

    const arrowLeft = document.createElement("div");
    arrowLeft.id = "arrowLeft";
    arrowLeft.innerHTML = "&#8592;";

    lightbox.appendChild(arrowLeft);

    // IF LIGHTBOX IS ACTIVE AND YOU CLICK ON RIGHT ARROW THE CURRENT IMAGE SHOULD BE REPLACED BY THE NEXT ONE

    if (selectedImage.nextElementSibling == null) {
      arrowRight.style.visibility = "hidden";
    } else if (selectedImage.previousElementSibling == null){
      arrowLeft.style.visibility = "hidden";
    }

    const active = lightbox.classList.contains("active");

    if (active) {
      const arrowRight = document.getElementById("arrowRight");
      const arrowLeft = document.getElementById("arrowLeft");

      arrowRight.addEventListener("click", function (event) {
        let lightboxImage = document.querySelector(".lightboxImg-active");
        let galleryImage = document.querySelector(".galleryImg-active");
        if (galleryImage.nextElementSibling) {
          arrowRight.style.visibility = "visible";
          arrowLeft.style.visibility = "visible";
          galleryImage.nextElementSibling.classList.add("galleryImg-active");
          galleryImage.classList.remove("galleryImg-active");
          lightboxImage.src = galleryImage.nextElementSibling.src;
        } else {
          arrowRight.style.visibility = "hidden";
        }
      });

      arrowLeft.addEventListener("click", function (event) {
        let lightboxImage = document.querySelector(".lightboxImg-active");
        let galleryImage = document.querySelector(".galleryImg-active");
        if (galleryImage.previousElementSibling) {
          arrowLeft.style.visibility = "visible";
          arrowRight.style.visibility = "visible";
          galleryImage.previousElementSibling.classList.add("galleryImg-active");
          galleryImage.classList.remove("galleryImg-active");
          lightboxImage.src = galleryImage.previousElementSibling.src;
        } else {
          arrowLeft.style.visibility = "hidden";
        }
      });
    }
  });
});

// WHEN LIGHTBOX IS ACTIVATED AND WE CLICK ON SMTG THAT IS NOT THE IMAGE REMOVE ACTIVE CLASS

lightbox.addEventListener("click", (e) => {
  if (e.target !== e.currentTarget) return;
  lightbox.classList.remove("active");
});

</script>
